{% macro blogPostPage() %}
<!doctype html>
<meta charset="utf-8" />
<title>{{ entity.summary | striptags }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/public.css" />
<header class="header">
  <h1>
    {{ entity.summary | striptags }}
  </h1>
</header>
<main>
  <time datetime="{{ entity.published | formatDate }}">
    {{ entity.published | formatDate }}
  </time>
  {{ entity.content | safe }}
</main>
<footer>
  <a href="/">
    Home
  </a>
</footer>
{% endmacro %}