{% macro hashtagPage() %}
<!doctype html>
  <meta charset="utf-8" />
  <title>{{ entity.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/public.css" />
  <main>
    <h1>
      {{ entity.name }}
    </h1>

    <details open>
      <summary>
        Posts
      </summary>
      <div>
        {% for item in posts %}
        <article class="note">
          <a href="{{ item.url }}">
            <time datetime="{{ item.published | formatDateTime }}">
              {{ item.published | formatDateTimeForDisplay }}
            </time>
          </a>
          <p>{{ (item.summary or item.content) | safe }}</p>
        </article>
      {% endfor %}
      </div>
    </details>
   
    <hr />

    <details open>
      <summary>
        People
      </summary>
      <div>
        {% for item in people %}
          <article class="note">
            <a href="{{ item.url }}">
              @{{ item.preferredUsername }}
            </a>
            <blockquote>{{ item.summary | safe }}</blockquote>
          </article>
        {% endfor %}
      </div>
    </details>

    <hr />
    
    <details open>
      <summary>
        Groups
      </summary>
      <div>
        {% for item in groups %}
          <article class="note">
            <a href="{{ item.url }}">
              @{{ item.preferredUsername }}
            </a>
            <blockquote>{{ item.summary | safe }}</blockquote>
          </article>
        {% endfor %}
      </div>
    </details>
  </main>
{% endmacro %}