{% macro inboxPage() %}
<!doctype html>
<meta charset="utf-8" />
<title>Inbox Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/public.css" />
<main>
  <h1>
    Inbox Feed
  </h1>
  {% for item in feed %}
    {% if item.type == 'Create' %}
      {% if item.object.type == 'Note' %}
        @{{ item.actor.preferredUsername }} posted <a href="{{ item.object.url }}">a note</a>.
        <blockquote>
          {{ item.object.content | safe }}
        </blockquote>
      {% endif %}
    {% endif %}
  {% endfor %}
</main>
{% endmacro %}