{% macro inboxPage() %}
<!doctype html>
<meta charset="utf-8" />
<title>Inbox Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/public.css" />
<main>
  <h1>
    Inbox Feed
  </h1>
  {% for item in feed %}
    {% if item.type == 'Create' %}
      {% if item.object.type == 'Note' %}
        @{{ item.actor.preferredUsername }} posted <a href="{{ item.object.url }}">a note</a>.
        <blockquote>
          {{ item.object.content | safe }}
        </blockquote>
        {% if actor %}
          <form
            novalidate
            action="{{ actor.outbox.url }}"
            data-action="like-post"
            method="POST"
            data-actor-id="{{ actor.id }}"
            data-followers-url="{{ actor.followers }}"
            data-object-id="{{ item.object.id }}"
            data-object-actor-id="{{ item.actor.id }}">
            <button type="submit">
              Like
            </button>
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if actor %}
    <script type="module" src="/home.js"></script>
  {% endif %}
</main>
{% endmacro %}