{% macro inboxPage() %}
<!doctype html>
<meta charset="utf-8" />
<title>Inbox Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/public.css" />
<main>
  <h1>
    Inbox Feed
  </h1>
  {% for item in feed %}
    {% if item.type == 'Accept' %}
      {% if item.object.actor == attributedTo.id %}
        <article class="note">
          <a href="{{ item.actor.url }}">
            @{{ item.actor.preferredUsername }}@{{ item.actor.url | getDomain }}
          </a>
          <a href="{{ item.url }}">accepted</a>
          <a href="{{ item.object.url }}">your follow request</a>.
        </article>
      {% endif %}
    {% endif %}
    {% if item.type == 'Create' %}
      {% if item.object.type == 'Note' and not item.object.inReplyTo %}
        <article class="note">
          <a href="{{ item.actor.url }}">
            @{{ item.actor.preferredUsername }}@{{ item.actor.url | getDomain }}
          </a>
          posted <a href="{{ item.object.url }}">a note</a> on
          <time datetime="{{ item.object.published | formatDateTime }}">
            {{ item.object.published | formatDateTimeForDisplay }}
          </time>.
          <blockquote>
            {{ item.object.content | safe }}
          </blockquote>
          {% if actor %}
            <form
              novalidate
              action="{{ actor.outbox.url }}"
              data-action="like"
              method="POST"
              data-actor-id="{{ actor.id }}"
              data-followers-url="{{ actor.followers }}"
              data-object-id="{{ item.object.id }}"
              data-object-actor-id="{{ item.actor.id }}">
              <button type="submit">
                Like
              </button>
            </form>
          {% endif %}
        </article>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if actor %}
    <script type="module" src="/home.js"></script>
  {% endif %}
</main>
{% endmacro %}