<!DOCTYPE html>
<title>Michael Puckett's Blog</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="manifest" src="/manifest.json" />
<form data-action="signup">
  <input type="text" name="username" />
  <input type="text" name="email" />
  <input type="password" name="password" />
  <button type="submit">Submit</button>
</form>

<hr />
<form data-action="login">
  <input type="text" name="email" />
  <input type="password" name="password" />
  <button type="submit">Submit</button>
</form>

<script type="module" src="/login.js"></script>
