{% macro microblogStatusPage() %}
<!doctype html>
<meta charset="utf-8" />
<title>{{ entity.content | striptags }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/public.css" />
<main>
  <time datetime="{{ entity.published | formatDateTime }}">
    {{ entity.published | formatDateTimeForDisplay }}
  </time>
  <p>
    {{ entity.content | safe }}
  </p>
</main>
<hr role="none" />
<aside aria-labelledby="aside-h2">
  <h2 id="aside-h2">
    <a href="https://activitypub.rocks" target="_blank">
      Federated Interactions
    </a>
  </h2>
  <ul>
    <li>
      <a href="{{ likes.url }}">
        {{ likes.totalItems }} Likes
      </a>
      {% if likes.orderedItems.length %}
        <ul>
          {% for item in likes.orderedItems %}
            <a href="{{ item.actor.url }}">
              @{{ item.actor.preferredUsername }}@{{ item.actor.url | getDomain }}
            </a>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    <li>
      <a href="{{ shares.url }}">
        {{ shares.totalItems }} Shares
      </a>
      {% if shares.orderedItems.length %}
        <ul>
          {% for item in shares.orderedItems %}
            <a href="{{ item.actor.url }}">
              @{{ item.actor.preferredUsername }}@{{ item.actor.url | getDomain }}
            </a>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    <li>
      <a href="{{ replies.url }}">
        {{ replies.totalItems }} Replies
      </a>
      {% if replies.orderedItems.length %}
        <ul>
          {% for item in replies.orderedItems %}
            <a href="{{ item.actor.url }}">
              @{{ item.actor.preferredUsername }}@{{ item.actor.url | getDomain }}
              <q>{{ item.content | safe }}</q>
            </a>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  </ul>
</aside>
<hr role="none" />
<footer>
  <a href="/">
    Home
  </a>
</footer>
{% endmacro %}